body 
{
  font-family: Verdana,sans-serif;
  font-size: 12px;
  width: 600px;
}
header
{
  font-size: 18px;
  font-weight: bold;
  text-align: center;
}
footer
{
  text-align: center;
}
header, footer, section, article
{
  border: 1px solid grey;
  margin: 5px;
  margin-bottom: 15px;
  padding: 8px;
  background-color: white;
}
header, footer 
{
  color: white;
  background-color: grey;
  margin-bottom: 5px;
}
section 
{
  background-color: #ddd;
}
section header
{
  font-size: 14px;
  font-weight: bold;
  text-align: left;
}
article ol li
{
  margin-bottom: 5px;
}
nav
{
  background-color: grey;
  margin: 5px;
  text-align: center;
}
nav ul 
{
  margin: 5px;
  padding: 8px;
}
nav ul li 
{
  display: inline; 
  padding: 3px;
  background-color: #ddd;
  border: 1px solid white;
}
nav ul li a
{
  margin: 5px 5px 5px 0;
  color: black;
  font-weight: bold;
  text-decoration: none;
}
.definition-name
{
  font-style: italic;
  font-weight: bold;
}
